In [3]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/socathie/paperplane/master/data/most_backed.csv')
df.to_csv('most_backed.csv')

In [27]:
df.head(3)

,Unnamed: 0,amt.pledged,blurb,category,currency,goal,location,num.backers,num.backers.tier,pledge.tier,title,url,num_tiers
0,0,8782571.0,\nThis is a card game for people who are into ...,Tabletop Games,usd,10000.0,"Los Angeles, CA",219382,"[15505, 202934, 200, 5]","[20.0, 35.0, 100.0, 500.0]",Exploding Kittens,/projects/elanlee/exploding-kittens,4
1,1,6465690.0,"\nAn unusually addicting, high-quality desk to...",Product Design,usd,15000.0,"Denver, CO",154926,"[788, 250, 43073, 21796, 41727, 21627, 12215, ...","[1.0, 14.0, 19.0, 19.0, 35.0, 35.0, 79.0, 79.0...",Fidget Cube: A Vinyl Desk Toy,/projects/antsylabs/fidget-cube-a-vinyl-desk-toy,4
2,2,5408916.0,\nBring Reading Rainbow’s library of interacti...,Web,usd,1000000.0,"Los Angeles, CA",105857,"[19639, 14343, 9136, 2259, 5666, 24512, 4957, ...","[5.0, 10.0, 25.0, 30.0, 35.0, 50.0, 75.0, 100....","Bring Reading Rainbow Back for Every Child, Ev...",/projects/readingrainbow/bring-reading-rainbow...,4

In [144]:
df['pledge.tier.count'] = df['pledge.tier.count'].astype(object)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 16 columns):
Unnamed: 0           4000 non-null int64
amt.pledged          4000 non-null float64
blurb                4000 non-null object
category             4000 non-null object
currency             4000 non-null object
goal                 4000 non-null float64
location             4000 non-null object
num.backers          4000 non-null int64
num.backers.tier     4000 non-null object
pledge.tier          4000 non-null object
title                4000 non-null object
url                  4000 non-null object
num_tiers            4000 non-null int64
pledge.tier.list     4000 non-null int64
2                    1 non-null float64
pledge.tier.count    4000 non-null object
dtypes: float64(3), int64(4), object(9)
memory usage: 500.1+ KB

In [181]:
def list_el_to_num(x):
    lst = x.replace('[','').replace(']','').split(',')
    lst = [i.strip() for i in lst]
    list_int = [float(i) for i in lst if i != "..."]
    list_sum = sum(list_int)
    list_percent = [(float(x)/float(list_sum))*100 for x in list_int]
    return str(list_percent)
df['pledge.tier.count'] = df['num.backers.tier'].apply(list_el_to_num)
df['pledge.tier.count']

for i in df["num.backers.tier"]:
    list_el_to_num(i)

0       [7.091436307422111, 92.81480397358263, 0.09147...
1       [0.50927421960835, 0.1615717701803141, 27.8375...
2       [21.18554476806904, 15.472491909385115, 9.8554...
3       [6.726706315491363, 9.541772868875672, 13.0376...
4       [55.516187300263994, 28.52577462831735, 1.2620...
5       [12.913890180277907, 29.690324913476935, 6.815...
6       [0.4278695605226217, 20.235395745599828, 15.80...
7       [0.4306948180755958, 33.96646830249178, 28.424...
8       [1.8173083522064375, 31.53386864319539, 29.761...
9       [16.39445080091533, 19.88558352402746, 0.13872...
10      [3.284549049363081, 38.285205667342744, 0.5573...
11      [3.833074374835097, 0.2931605640409252, 59.803...
12      [3.672461061067092, 51.30449191094508, 9.70837...
13      [7.57587236170245, 4.239458173608691, 12.94868...
14      [1.4164042259420717, 31.267937758885495, 25.52...
15      [0.6840375513028163, 10.20709826553237, 42.304...
16      [2.8599589587810432, 3.066780849585548, 1.6157...
17      [1.7481270067784518, 0.5043297765381247, 0.215...
18      [53.7935109054207, 14.48804424531863, 13.07501...
19      [11.44560165260802, 6.507144086761921, 11.3380...
20      [20.951091943475866, 14.241145164250321, 13.08...
21      [0.7132795206046106, 0.7468193099747333, 0.223...
22      [11.405369648030293, 42.701703962225416, 12.57...
23      [0.24199422033221343, 23.494584498273145, 23.4...
24      [1.3769280591071555, 44.60383332933529, 6.3952...
25      [12.734960012225564, 12.734960012225564, 10.17...
26      [0.39288442649787186, 0.18007202881152462, 0.0...
27      [42.963250374147776, 23.496480239454577, 3.871...
28      [1.013070030249415, 24.693225272530107, 18.066...
29      [24.249462865106555, 36.13901631728703, 9.7787...
                              ...
3970    [28.388278388278387, 29.57875457875458, 8.1501...
3971    [28.144796380090497, 20.361990950226243, 23.61...
3972    [2.432179607109448, 6.26753975678204, 9.354536...
3973    [9.033423667570009, 4.607046070460704, 0.27100...
3974    [0.27522935779816515, 0.9174311926605505, 22.9...
3975    [7.427536231884058, 8.695652173913043, 49.3659...
3976    [2.73224043715847, 27.413479052823313, 2.73224...
3977    [9.074410163339383, 48.185117967332125, 5.3539...
3978    [2.922374429223744, 0.730593607305936, 18.2648...
3979    [2.9465930018416207, 0.6445672191528545, 0.092...
3980    [8.201304753028891, 9.319664492078285, 17.2413...
3981    [1.17011701170117, 57.515751575157516, 36.1836...
3982    [5.7272727272727275, 79.72727272727272, 7.6363...
3983    [8.210332103321033, 1.7527675276752765, 4.5202...
3984    [8.13953488372093, 27.228682170542633, 21.8992...
3985    [0.45537340619307837, 7.468123861566485, 25.50...
3986    [23.02025782688766, 61.233885819521184, 12.246...
3987    [38.125802310654684, 29.396662387676507, 25.93...
3988    [18.315018315018314, 11.446886446886447, 18.31...
3989    [2.7198549410698094, 63.37262012692656, 14.143...
3990    [1.8656716417910446, 4.57089552238806, 3.73134...
3991    [4.119850187265917, 33.61423220973783, 37.8277...
3992    [27.13472485768501, 23.055028462998102, 12.333...
3993    [47.06439393939394, 11.742424242424242, 5.6818...
3994    [6.478102189781023, 4.562043795620438, 37.8649...
3995    [10.95890410958904, 9.1324200913242, 36.347031...
3996    [18.307267709291626, 19.50321987120515, 0.9199...
3997    [90.65335753176043, 4.537205081669692, 4.08348...
3998    [0.9954751131221719, 0.09049773755656108, 4.52...
3999    [39.98178506375228, 6.9216757741347905, 40.983...
Name: pledge.tier.count, dtype: object

In [97]:
df['pledge.tier.list'].describe()

count    4000.000000
mean       14.504500
std         9.955439
min         1.000000
25%         8.000000
50%        12.000000
75%        18.000000
max       101.000000
Name: pledge.tier.list, dtype: float64

In [84]:
df['pledge.tier.list']

0        4
1       12
2       64
3       32
4        9
5       12
6       28
7       21
8       29
9       12
10      39
11      11
12      18
13      20
14      29
15      21
16      10
17      11
18      15
19      41
20      62
21      43
22      14
23      37
24      14
25      14
26      19
27      14
28      16
29       8
        ..
3970    16
3971    12
3972    19
3973     5
3974    11
3975     9
3976    11
3977     5
3978    11
3979    47
3980    20
3981     6
3982     8
3983    23
3984     6
3985    13
3986     5
3987    10
3988     8
3989    10
3990    17
3991     4
3992    11
3993     7
3994     8
3995     9
3996    15
3997     7
3998    19
3999     5
Name: pledge.tier.list, dtype: int64