# Project 1

## Step 1: Open the `sat_scores.csv` file. Investigate the data, and answer the questions below.

##### 1. What does the data describe?

Participation Rate as a whole number percentage, average Verbal and avaerage Math values by state, and nationally, for the SAT

##### 2. Does the data look complete? Are there any obvious issues with the observations?

Yes, the data seems complete. The column heading "rate" was not clear to me. If I didn't have line numbers, it would have been onerous to see if complete dataset. I see no glaring issues

##### 3. Create a data dictionary for the dataset.

"sat_scores.csv"
<br>1 header row of the following values: State, Rate, Verbal, Math
<br>State, string, State of the testing
<br>Rate, float, percentage of participation for that 'state'
<br>Verbal, int, Average value of Verbal Score within that State
<br>Math, int, Average value of Math score within that State
<br>*NOTE1: there is a 'summary' row named "All" which represents the national averages*
<br>*NOTE2: Washington, DC is treated as a "State"*

## Step 2: Load the data.

##### 4. Load the data into a list of lists

In [22]:
import csv

sat_score_list = []
with open("/Users/jfreeley/GA-DSI/DSI_IMAGE/projects/projects-weekly/project-01/assets/sat_scores.csv", "r") as fp:
    list = csv.reader(fp)
    sat_score_list = [row for row in list]

##### 5. Print the data

In [23]:
sat_score_list

[['State', 'Rate', 'Verbal', 'Math'],
 ['CT', '82', '509', '510'],
 ['NJ', '81', '499', '513'],
 ['MA', '79', '511', '515'],
 ['NY', '77', '495', '505'],
 ['NH', '72', '520', '516'],
 ['RI', '71', '501', '499'],
 ['PA', '71', '500', '499'],
 ['VT', '69', '511', '506'],
 ['ME', '69', '506', '500'],
 ['VA', '68', '510', '501'],
 ['DE', '67', '501', '499'],
 ['MD', '65', '508', '510'],
 ['NC', '65', '493', '499'],
 ['GA', '63', '491', '489'],
 ['IN', '60', '499', '501'],
 ['SC', '57', '486', '488'],
 ['DC', '56', '482', '474'],
 ['OR', '55', '526', '526'],
 ['FL', '54', '498', '499'],
 ['WA', '53', '527', '527'],
 ['TX', '53', '493', '499'],
 ['HI', '52', '485', '515'],
 ['AK', '51', '514', '510'],
 ['CA', '51', '498', '517'],
 ['AZ', '34', '523', '525'],
 ['NV', '33', '509', '515'],
 ['CO', '31', '539', '542'],
 ['OH', '26', '534', '439'],
 ['MT', '23', '539', '539'],
 ['WV', '18', '527', '512'],
 ['ID', '17', '543', '542'],
 ['TN', '13', '562', '553'],
 ['NM', '13', '551', '542'],
 ['IL', '12', '576', '589'],
 ['KY', '12', '550', '550'],
 ['WY', '11', '547', '545'],
 ['MI', '11', '561', '572'],
 ['MN', '9', '580', '589'],
 ['KS', '9', '577', '580'],
 ['AL', '9', '559', '554'],
 ['NE', '8', '562', '568'],
 ['OK', '8', '567', '561'],
 ['MO', '8', '577', '577'],
 ['LA', '7', '564', '562'],
 ['WI', '6', '584', '596'],
 ['AR', '6', '562', '550'],
 ['UT', '5', '575', '570'],
 ['IA', '5', '593', '603'],
 ['SD', '4', '577', '582'],
 ['ND', '4', '592', '599'],
 ['MS', '4', '566', '551'],
 ['All', '45', '506', '514']]

##### 6. Extract a list of the labels from the data, and remove them from the data.

In [24]:
labels = sat_score_list[0]
del sat_score_list[0]
labels

['State', 'Rate', 'Verbal', 'Math']

##### 7. Create a list of State names extracted from the data. (Hint: use the list of labels to index on the State column)

In [25]:
search_for = "State"
stIndex = labels.index(search_for)
state_list = [x[stIndex] for x in sat_score_list]
state_list

['CT',
 'NJ',
 'MA',
 'NY',
 'NH',
 'RI',
 'PA',
 'VT',
 'ME',
 'VA',
 'DE',
 'MD',
 'NC',
 'GA',
 'IN',
 'SC',
 'DC',
 'OR',
 'FL',
 'WA',
 'TX',
 'HI',
 'AK',
 'CA',
 'AZ',
 'NV',
 'CO',
 'OH',
 'MT',
 'WV',
 'ID',
 'TN',
 'NM',
 'IL',
 'KY',
 'WY',
 'MI',
 'MN',
 'KS',
 'AL',
 'NE',
 'OK',
 'MO',
 'LA',
 'WI',
 'AR',
 'UT',
 'IA',
 'SD',
 'ND',
 'MS',
 'All']

##### 8. Print the types of each column

In [26]:
type_list = [type(x) for x in sat_score_list[0]]
type_list

[str, str, str, str]

##### 9. Do any types need to be reassigned? If so, go ahead and do it.

In [31]:
typed_sat_score_list = [[x,float(y),float(z),float(a)] for x,y,z,a in sat_score_list]

type_list = [type(x) for x in typed_sat_score_list[0]]
type_list

[str, float, float, float]

##### 10. Create a dictionary for each column mapping the State to its respective value for that column.

In [32]:
stRate_dict = {s:r for s,r,v,m in sat_score_list}
stVerbal_dict = {s:v for s,r,v,m in sat_score_list}
stMath_dict = {s:m for s,r,v,m in sat_score_list}
print stRate_dict
print ""
print stVerbal_dict
print ""
print stMath_dict

{'WA': '53', 'DE': '67', 'DC': '56', 'WI': '6', 'WV': '18', 'HI': '52', 'FL': '54', 'WY': '11', 'NH': '72', 'NJ': '81', 'NM': '13', 'TX': '53', 'LA': '7', 'NC': '65', 'ND': '4', 'NE': '8', 'TN': '13', 'NY': '77', 'PA': '71', 'RI': '71', 'NV': '33', 'VA': '68', 'CO': '31', 'AK': '51', 'AL': '9', 'AR': '6', 'VT': '69', 'IL': '12', 'GA': '63', 'IN': '60', 'IA': '5', 'OK': '8', 'AZ': '34', 'CA': '51', 'ID': '17', 'CT': '82', 'ME': '69', 'MD': '65', 'All': '45', 'MA': '79', 'OH': '26', 'UT': '5', 'MO': '8', 'MN': '9', 'MI': '11', 'KS': '9', 'MT': '23', 'MS': '4', 'SC': '57', 'KY': '12', 'OR': '55', 'SD': '4'}

{'WA': '527', 'DE': '501', 'DC': '482', 'WI': '584', 'WV': '527', 'HI': '485', 'FL': '498', 'WY': '547', 'NH': '520', 'NJ': '499', 'NM': '551', 'TX': '493', 'LA': '564', 'NC': '493', 'ND': '592', 'NE': '562', 'TN': '562', 'NY': '495', 'PA': '500', 'RI': '501', 'NV': '509', 'VA': '510', 'CO': '539', 'AK': '514', 'AL': '559', 'AR': '562', 'VT': '511', 'IL': '576', 'GA': '491', 'IN': '499', 'IA': '593', 'OK': '567', 'AZ': '523', 'CA': '498', 'ID': '543', 'CT': '509', 'ME': '506', 'MD': '508', 'All': '506', 'MA': '511', 'OH': '534', 'UT': '575', 'MO': '577', 'MN': '580', 'MI': '561', 'KS': '577', 'MT': '539', 'MS': '566', 'SC': '486', 'KY': '550', 'OR': '526', 'SD': '577'}

{'WA': '527', 'DE': '499', 'DC': '474', 'WI': '596', 'WV': '512', 'HI': '515', 'FL': '499', 'WY': '545', 'NH': '516', 'NJ': '513', 'NM': '542', 'TX': '499', 'LA': '562', 'NC': '499', 'ND': '599', 'NE': '568', 'TN': '553', 'NY': '505', 'PA': '499', 'RI': '499', 'NV': '515', 'VA': '501', 'CO': '542', 'AK': '510', 'AL': '554', 'AR': '550', 'VT': '506', 'IL': '589', 'GA': '489', 'IN': '501', 'IA': '603', 'OK': '561', 'AZ': '525', 'CA': '517', 'ID': '542', 'CT': '510', 'ME': '500', 'MD': '510', 'All': '514', 'MA': '515', 'OH': '439', 'UT': '570', 'MO': '577', 'MN': '589', 'MI': '572', 'KS': '580', 'MT': '539', 'MS': '551', 'SC': '488', 'KY': '550', 'OR': '526', 'SD': '582'}

##### 11. Create a dictionary with the values for each of the numeric columns

In [76]:
##
## DOES NOT REMOVE all
##

search_for = labels[-3:] #grab last 3 columns Rate, Verbal Math
scores_dict = {}
for score_type in search_for: #iterate over the columns above
    stIndex = labels.index(score_type) #get index of the column
    score_list = [float(x[stIndex]) for x in sat_score_list] #CAST FLOAT & create a list of values from the specfic column
    scores_dict.update({score_type:score_list}) 
scores_dict

{'Math': [510.0,
  513.0,
  515.0,
  505.0,
  516.0,
  499.0,
  499.0,
  506.0,
  500.0,
  501.0,
  499.0,
  510.0,
  499.0,
  489.0,
  501.0,
  488.0,
  474.0,
  526.0,
  499.0,
  527.0,
  499.0,
  515.0,
  510.0,
  517.0,
  525.0,
  515.0,
  542.0,
  439.0,
  539.0,
  512.0,
  542.0,
  553.0,
  542.0,
  589.0,
  550.0,
  545.0,
  572.0,
  589.0,
  580.0,
  554.0,
  568.0,
  561.0,
  577.0,
  562.0,
  596.0,
  550.0,
  570.0,
  603.0,
  582.0,
  599.0,
  551.0,
  514.0],
 'Rate': [82.0,
  81.0,
  79.0,
  77.0,
  72.0,
  71.0,
  71.0,
  69.0,
  69.0,
  68.0,
  67.0,
  65.0,
  65.0,
  63.0,
  60.0,
  57.0,
  56.0,
  55.0,
  54.0,
  53.0,
  53.0,
  52.0,
  51.0,
  51.0,
  34.0,
  33.0,
  31.0,
  26.0,
  23.0,
  18.0,
  17.0,
  13.0,
  13.0,
  12.0,
  12.0,
  11.0,
  11.0,
  9.0,
  9.0,
  9.0,
  8.0,
  8.0,
  8.0,
  7.0,
  6.0,
  6.0,
  5.0,
  5.0,
  4.0,
  4.0,
  4.0,
  45.0],
 'Verbal': [509.0,
  499.0,
  511.0,
  495.0,
  520.0,
  501.0,
  500.0,
  511.0,
  506.0,
  510.0,
  501.0,
  508.0,
  493.0,
  491.0,
  499.0,
  486.0,
  482.0,
  526.0,
  498.0,
  527.0,
  493.0,
  485.0,
  514.0,
  498.0,
  523.0,
  509.0,
  539.0,
  534.0,
  539.0,
  527.0,
  543.0,
  562.0,
  551.0,
  576.0,
  550.0,
  547.0,
  561.0,
  580.0,
  577.0,
  559.0,
  562.0,
  567.0,
  577.0,
  564.0,
  584.0,
  562.0,
  575.0,
  593.0,
  577.0,
  592.0,
  566.0,
  506.0]}

## Step 3: Describe the data

##### 12. Print the min and max of each column

In [39]:
print "Minimums"
for keys in scores_dict:
    print keys, min(scores_dict[keys])
print ""    
print "Maximums"
for keys in scores_dict:
    print keys, max(scores_dict[keys])

Minimums
Rate 4.0
Math 439.0
Verbal 482.0

Maximums
Rate 82.0
Math 603.0
Verbal 593.0

##### 13. Write a function using only list comprehensions, no loops, to compute Standard Deviation. Print the Standard Deviation of each numeric column.

In [106]:
#scores_dict
import numpy
import math

def std_dev(list):
    mean = sum(x for x in list)/len(list)
    variance = (sum([(x-mean)**2 for x in list])/len(list))**0.5
    print list
    print mean
    print variance
    
std_dev(scores_dict['Math']) # WINNER!!!

def NP_std_dev(list):
    array = numpy.array(list)
    return numpy.std(array)
#print scores_dict

print scores_dict['Rate']

print NP_std_dev(scores_dict['Rate'])
print NP_std_dev(scores_dict['Verbal'])
print NP_std_dev(scores_dict['Math'])

[510.0, 513.0, 515.0, 505.0, 516.0, 499.0, 499.0, 506.0, 500.0, 501.0, 499.0, 510.0, 499.0, 489.0, 501.0, 488.0, 474.0, 526.0, 499.0, 527.0, 499.0, 515.0, 510.0, 517.0, 525.0, 515.0, 542.0, 439.0, 539.0, 512.0, 542.0, 553.0, 542.0, 589.0, 550.0, 545.0, 572.0, 589.0, 580.0, 554.0, 568.0, 561.0, 577.0, 562.0, 596.0, 550.0, 570.0, 603.0, 582.0, 599.0, 551.0, 514.0]
531.5
35.6669961643
[82.0, 81.0, 79.0, 77.0, 72.0, 71.0, 71.0, 69.0, 69.0, 68.0, 67.0, 65.0, 65.0, 63.0, 60.0, 57.0, 56.0, 55.0, 54.0, 53.0, 53.0, 52.0, 51.0, 51.0, 34.0, 33.0, 31.0, 26.0, 23.0, 18.0, 17.0, 13.0, 13.0, 12.0, 12.0, 11.0, 11.0, 9.0, 9.0, 9.0, 8.0, 8.0, 8.0, 7.0, 6.0, 6.0, 5.0, 5.0, 4.0, 4.0, 4.0, 45.0]
27.0379964945
32.9150949616
35.6669961643

## Step 4: Visualize the data

##### 14. Using MatPlotLib and PyPlot, plot the distribution of the Rate using histograms.

##### 15. Plot the Math distribution

##### 16. Plot the Verbal distribution

##### 17. What is the typical assumption for data distribution?

##### 18. Does that distribution hold true for our data?

##### 19. Plot some scatterplots. **BONUS**: Use a PyPlot `figure` to present multiple plots at once.

##### 20. Are there any interesting relationships to note?

##### 21. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.