# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) Flash lesson: lambda functions
Week 3 | Lesson 4.1

### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Write and apply one-line **lambda functions**

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Lambda

Lambda is a tool for building functions. We already know how to build functions
using def, but let's do a quick comparison of the two.

Here's building a function using def:
```Python
def square_root(x): return x ** .5
```

Here's building the same function using lambda
```Python
square_root_lambda = lambda x: x ** .5
```

In [5]:
def square_root(x): 
    return x** .5

square_root_lambda = lambda x: x ** .5

In [5]:
square_root(2)

1.4142135623730951

In [6]:
square_root_lambda(2)

1.4142135623730951

### Quck check
Write a normal function to calculate the area of a rectangle.

Then, re-write that function as a lambda function.

In [6]:
#Function here
def area(x, y):
    return x * y
    
    
#Lambda function here:
area_lambda = lambda x,y: x * y

# Test them out!
print area(4,5), area_lambda(4,5)

20 20

### Lambdas are 'anonymous functions'
Lambda functions are useful when you have an operation that your code only calls once.

Some things to remember about lambda:
- it does not contain a return statement
- it is not a named function
- it is a tool for creating anonymous procedures
- it only takes a single expression (so, no loops or if statements)

More information on [Lambda](https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/).

For example, in this code:
```Python
def _range(x):
    return np.max(x) - np.min(x)
    
df.pivot_table(index='A', aggfunc = (np.mean, _range))
```


You can replace the `_range` function with a lambda:

```Python
df.pivot_table(index='A', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))
```

In [37]:
df = pd.DataFrame(np.random.randint(0,200,size=(8, 4)), columns=list('ABCD'))
df2 = pd.DataFrame([x for x in range(0,2)]*4, columns=['Group'])
df = pd.concat([df, df2], axis = 1)
df

     A    B    C    D  Group
0  193  195   57  175      0
1   52  154  117  131      1
2   30    4  139  124      0
3  132   95  155  109      1
4   12  144  152   68      0
5   33   60   79  142      1
6  132   55  157   80      0
7  173   96  168   77      1

In [8]:
df = df.applymap(lambda x: x*2)
df.head()

     A    B    C    D  Group
0   10  100  188   24      0
1   70  148   38  186      2
2  132  126   56  100      0
3   34   36   84   54      2
4   40  120  194  128      0

In [9]:
def _range(x):
    return np.max(x) - np.min(x)

df.pivot_table(index = 'Group', aggfunc = (np.mean, _range))

          A             B             C            D
       mean _range   mean _range   mean _range  mean _range
Group
0      90.5    170  126.0     58  121.5    146  91.0    104
2      74.5     88   78.5    120   66.0     82  98.5    136

In [10]:
df.pivot_table(index='Group', aggfunc = (np.mean, lambda x: np.max(x) - np.min(x)))

          A               B               C              D
       mean <lambda>   mean <lambda>   mean <lambda>  mean <lambda>
Group
0      90.5      170  126.0       58  121.5      146  91.0      104
2      74.5       88   78.5      120   66.0       82  98.5      136

### Independent practice
Practice writing a few lambda functions and applying them to this dataframe

In [48]:
# Problem 1: apply a lambda function that gives the square root of every element
df.applymap(lambda x: x** .5)

# Problem 2: apply a lambda function that returns 'skewed' for each column if the difference between
# its mean and median is more than 10% of its standard deviation, otherwise return 'normalish'
df.apply(lambda x: 'skewed' if abs(np.mean(x) - np.median(x)) > (0.1 * np.std(x)) else "normal")

# Problem 3: create a pivot table, indexed on 'Group', with a lambda aggfunc that returns 
# the number of group elements greater than 100
df.pivot_table(index='Group',aggfunc=(lambda x: len([i for i in x if i > 100]) ))

#df

Empty DataFrame
Columns: []
Index: []